{% extends 'base.html' %}

{% block top %}
<section class="hero is-primary">
    <div class="hero-body">
      <div class="container">

          <h1>Cadastre-se no melhor site de foods!</h1>
        
      </div>
    </div>
</section>
{% endblock top%}


{% block main %}
    
    <form action="{{ url_for('site.signup')}}" method="POST">
        {{ form.csrf_token }}

        {{form.email.label}} <br>
        {{form.email()}} <br>

        {{form.password.label}} <br>
        {{form.password(size=20)}} <br>

        <input type="submit" value="Enviar">

    </form>

{% endblock main %}








